.header{
    width: 100%;
    z-index: 99;
    position: fixed;
    background-color: #FFF;
}

.fixed{
    position: fixed;
    background-color: #ffffff9f;
    -webkit-box-shadow: 0 8px 20px -12px rgba(0,0,0, 0.6);
    -moz-box-shadow: 0 8px 20px -12px rgba(0,0,0, 0.6);
    box-shadow: 0 8px 20px -12px rgba(0,0,0, 0.6);
    backdrop-filter: blur(4px);
}

.background{
    background-color: #FFF;
}