.containerHero{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 10;
}

.main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 14px;

}


.link{
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    margin-top: 14px;
    background-color: #00ad65ff;
    border-radius: 8px;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    transition: all 0.3s;
}

.link:hover{
    background-color: #008f4aff;
}

.contentBanner{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #000;
}

.banner{
    object-fit: cover;
    opacity: 0.30;
}

@media (min-width: 768px){
    .title{
        font-size: 48px;
    }
}