.containerHero{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 14px;

}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.link{
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    margin-top: 14px;
    background-color: #00ffaaff;
    border-radius: 8px;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    transition: all 0.3s;
}


.contentBanner{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #000;
}

.banner{
    width: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.30;
    background: fixed;
}