.containerHero{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.main{
    widht: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 14px;

}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.contentBanner{
    widht: 100%;
    height: 400px;
    position: relative;
    background-color: #000;
}

.banner{
    widht: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.30;
    background: fixed;
}