.containerAbout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 34px 0;
    padding: 50px;
}

.innerAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    text-align: center;

    p{
        line-height: 150%;
    }
}

.containerAbout{
    .title{
        font-size: 36px;
        font-weight: bold;
        color: #0f0f0fff;
    }
}

.bannerAbout{
    width: 100%;
    height: 300px;
    position: relative;
}

.imageAbout{
    object-fit: cover;
    width: 300px;
    height: 350px;
    border-radius: 8px;
}