* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  font-family: "Geist Sans", sans-serif;
}
