.submenu{
    margin: 0 auto;
    max-width: 1200px;
    padding: 65px 14px 4px 14px;
}

.ul{
    display: flex;
    list-style: none;
    row-gap: 24px;
    padding: 14px;
    column-gap: 12px;

    li a{
        background-color: #0f0f0fff;
        color: #fff;
        padding: 8px 16px;
        border-radius: 8px;
    }
}

.submenuIcon{
    display: none;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    gap: 18px;
}

@media (max-width: 768px){
    .submenu{
        padding: 65px 14px 4px 14px;
    }

    .ul{
        display: none;
        z-index: 99;
        flex-direction: column;
        align-items: center;
        background-color: #FFF;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        &.open{
            display: flex;
        }
    }

    .ul li{ 
    a{
        background-color: transparent;
        color: #0f0f0fff;
        font-size: 24px;
        font-weight: bold;
        transition: all 0.3s;
    }
    a:hover{
        background-color: #0f0f0fff;
        color: #fff;
    }
    }

    .closeButton{
        background-color: transparent;
    }

    .submenuIcon{
        display: inline-flex;
    }
}