.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 84px 0 14px 0;
}

.section{
    width: 90%;
    background-color: black;
    padding: 30px 14px;
    border-radius: 14px;
    z-index: 20;

    .title{
        text-align: center;
        color: white;
        font-size: 30px;
        margin-bottom: 24px;
    }

    .content{
        color: white;
        display: flex;
        gap: 14px;
        padding: 14px 30px;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .item{
        display: flex;
        gap: 14px;
        align-items: center;
    }
}